# This file is a systemd service for sml2mqtt.

[Unit]
Description=Capture SML meter readings and publishes them on MQTT HomA framework
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/homa/homa.conf
ExecStart=/usr/local/sbin/sml2mqtt -c /usr/local/etc/sml2mqtt.yaml -h ${HOMA_BROKER_HOST} -p ${HOMA_BROKER_PORT}
Restart=always

[Install]
WantedBy=multi-user.target
